:root {
  --body-width: 800px;
}

.body {
  max-width: var(--body-width);
  margin: 0 auto;
}

.vcenter {
  display: flex;
  align-items: center;
}

@media print {
  a {
    text-decoration: none;
  }
  .hidden-print {
    display: none;
  }
}
@media screen {
  .hidden-screen {
    display: none;
  }
}

@page {
  size: A4 portrait;
}
