:root {
  --page-width: 900px;
  --top-spacing: 20px;
  --side-spacing: 16px;
  --header-bg-color: #f8f8f8;
}
@custom-media --narrow (width <= 600px);

@media (--narrow) {
  .github-corner {
    display: none;
  }
}

#header, #main {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: var(--top-spacing) var(--side-spacing);

  & small {
    color: gray;
  }
}

/* Light gray header background */
header {
  background-color: var(--header-bg-color);
}

/* Print beautifully */
@page {
  size: A4 portrait;
}

#main > h2 {
  page-break-before: always;
}
