:root {
  --page-width: 900px;
  --top-spacing: 20px;
  --side-spacing: 16px;
}
@custom-media --narrow (width <= 600px);

@media (--narrow) {
  .github-corner {
    display: none;
  }
}

#main {
  max-width: var(--page-width);
  margin: var(--top-spacing) auto;
  padding: 0 var(--side-spacing);

  & small {
    color: gray;
  }
}
